*.4ct
*.4tc
*.aux
*.css
*.dvi
*.fdb_latexmk
*.html
*.idv
*.lg
*.log
*.out
*.pdf
*.tmp
*.xref
*.auxlock
*.bbl
*.blg
*.figlist
*.makefile
*.aux
*.png
texput.log
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.dep
.depend
*.bcf
*.run.xml
*.dpth
